{{- template "header" }}
# {{.Name}} Committee

{{ .MissionStatement }}
{{- if .CharterLink }}
The [charter]({{.CharterLink}}) defines the scope and governance of the {{.Name}} Committee.
{{- end }}
{{- if .Meetings }}

## Meetings
{{- range .Meetings }}
* {{.Description}}: [{{.Day}}s at {{.Time}} {{.TZ}}]({{.URL}}) ({{.Frequency}}). [Convert to your timezone](http://www.thetimezoneconverter.com/?t={{.Time}}&tz={{.TZ | tzUrlEncode}}).
{{- if .ArchiveURL }}
  * [Meeting notes and Agenda]({{.ArchiveURL}}).
{{- end }}
{{- if .RecordingsURL }}
  * [Meeting recordings]({{.RecordingsURL}}).
{{- end }}
{{- end }}

{{- end }}
{{- if .Leadership }}
{{- if .Leadership.Chairs }}

## Members
{{ range .Leadership.Chairs }}
* {{.Name}} (**[@{{.GitHub}}](https://github.com/{{.GitHub}})**){{if .Company}}, {{.Company}}{{end}}
{{- end }}
{{- end }}
{{- end }}

## Contact

{{- if .Contact.Slack }}
- Slack: [#{{.Contact.Slack}}](https://kubernetes.slack.com/messages/{{.Contact.Slack}})
{{- end }}
{{- if .Contact.MailingList }}
- [Mailing list]({{.Contact.MailingList}})
{{- end }}
{{- if .Contact.PrivateMailingList }}
- Private Mailing List: {{.Contact.PrivateMailingList}}
{{- end }}
{{- if .Label }}
- [Open Community Issues/PRs](https://github.com/kubernetes/community/labels/committee%2F{{.Label}})
{{- end }}
{{- if .Contact.GithubTeams }}
- GitHub Teams:
{{- range .Contact.GithubTeams }}
    - [@kubernetes/{{.Name}}](https://github.com/orgs/kubernetes/teams/{{.Name}}) {{- if .Description }} - {{.Description}} {{- end}}
{{- end }}
{{- end }}

{{- if .Subprojects }}

## Subprojects

The following [subprojects][subproject-definition] are owned by the {{.Name}} Committee:

{{- range .Subprojects }}
### {{.Name}}
{{- if .Description }}
{{ trimSpace .Description }}
{{- end }}
- **Owners:**
{{- range .Owners }}
  - {{.}}
{{- end }}
{{- if .Contact }}
- **Contact:**
{{- if .Contact.Slack }}
  - Slack: [#{{.Contact.Slack}}](https://kubernetes.slack.com/messages/{{.Contact.Slack}})
{{- end }}
{{- if .Contact.MailingList }}
  - [Mailing List]({{.Contact.MailingList}})
{{- end }}
{{- if .Contact.GithubTeams }}
  - GitHub Teams: 
{{- range .Contact.GithubTeams }}
    - [@kubernetes/{{.Name}}](https://github.com/orgs/kubernetes/teams/{{.Name}}) {{- if .Description }} - {{.Description}}{{- end}}
{{- end }}
{{- end }}
{{- end }}
{{- if .Meetings }}
- **Meetings:**
{{- range .Meetings }}
  - {{.Description}}: [{{.Day}}s at {{.Time}} {{.TZ}}]({{.URL}}) ({{.Frequency}}). [Convert to your timezone](http://www.thetimezoneconverter.com/?t={{.Time}}&tz={{.TZ | tzUrlEncode}}).
{{- if .ArchiveURL }}
    - [Meeting notes and Agenda]({{.ArchiveURL}}).
{{- end }}
{{- if .RecordingsURL }}
    - [Meeting recordings]({{.RecordingsURL}}).
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

[subproject-definition]: https://github.com/kubernetes/community/blob/master/governance.md#subprojects
