{{- template "header" }}
# {{.Name}} SIG

{{ .MissionStatement }}
## Meetings
{{- range .Meetings }}
* [{{.Day}}s at {{.Time}} {{.TZ}}]({{$.MeetingURL}}) ({{.Frequency}}). [Convert to your timezone](http://www.thetimezoneconverter.com/?t={{.Time}}&tz={{.TZ | tzUrlEncode}}).
{{- end }}

{{ if .MeetingArchiveURL -}}
Meeting notes and Agenda can be found [here]({{.MeetingArchiveURL}}).
{{- end }}
{{ if .MeetingRecordingsURL -}}
Meeting recordings can be found [here]({{.MeetingRecordingsURL}}).
{{- end }}

## Leads
{{- range .Leads }}
* {{.Name}} (**[@{{.GitHub}}](https://github.com/{{.GitHub}})**){{if .Company}}, {{.Company}}{{end}}
{{- end }}

## Contact
* [Slack](https://kubernetes.slack.com/messages/{{.Contact.Slack}})
* [Mailing list]({{.Contact.MailingList}})
{{- if .Label }}
* [Open Community Issues/PRs](https://github.com/kubernetes/community/labels/sig%2F{{.Label}})
{{- end }}
{{ if .Contact.GithubTeams }}
## GitHub Teams

The below teams can be mentioned on issues and PRs in order to get attention from the right people.
Note that the links to display team membership will only work if you are a member of the org.

| Team Name | Details | Description |
| --------- |:-------:| ----------- |
{{- range .Contact.GithubTeams }}
| @kubernetes/{{.Name}} | [link](https://github.com/orgs/kubernetes/teams/{{.Name}}) | {{.Description}} |
{{- end }}
{{  end }}
