{{- template "header" }}
# {{.Name}} SIG

{{ .MissionStatement }}
## Meetings
{{- range .Meetings }}
* [{{.Day}}s at {{.UTC}} UTC]({{$.MeetingURL}}) ({{.Frequency}}). [Convert to your timezone](http://www.thetimezoneconverter.com/?t={{.UTC}}&tz=UTC).
{{- end }}

Meeting notes and Agenda can be found [here]({{.MeetingArchiveURL}}).
Meeting recordings can be found [here]({{.MeetingRecordingsURL}}).

## Leads
{{- range .Leads }}
* {{.Name}} (**[@{{.GitHub}}](https://github.com/{{.GitHub}})**){{if .Company}}, {{.Company}}{{end}}
{{- end }}

## Contact
* [Slack](https://kubernetes.slack.com/messages/{{.Contact.Slack}})
* [Mailing list]({{.Contact.MailingList}})
{{if .Contact.FullGitHubTeams}}
## GitHub Teams
{{range .Contact.GithubTeamNames -}}
* [@{{.}}](https://github.com/kubernetes/teams/{{.}})
{{end}}
{{end}}
