{{- template "header" }}
# {{.Name}} Special Interest Group

{{ .MissionStatement }}
{{- if .CharterLink }}
The [charter]({{.CharterLink}}) defines the scope and governance of the {{.Name}} Special Interest Group.
{{ end }}
{{ if .Meetings -}}
## Meetings

{{- if .Contact.MailingList }}
*Joining the [mailing list]({{.Contact.MailingList}}) for the group will typically add invites for the following meetings to your calendar.*
{{- end }}

{{- range .Meetings }}
* {{.Description}}{{if .CalendarURL}} ([calendar]({{.CalendarURL}})) {{end}}: [{{.Day}}s at {{.Time}} {{.TZ}}]({{.URL}}) ({{.Frequency}}). [Convert to your timezone](http://www.thetimezoneconverter.com/?t={{.Time | urlquery}}&tz={{.TZ | tzUrlEncode}}).
{{- if .ArchiveURL }}
  * [Meeting notes and Agenda]({{.ArchiveURL}}).
{{- end }}
{{- if .RecordingsURL }}
  * [Meeting recordings]({{.RecordingsURL}}).
{{- end }}
{{- end }}

{{- end }}
{{- if .Leadership }}

## Leadership
{{- if .Leadership.MailingListEmail }}
To contact all the leads, email `{{.Leadership.MailingListEmail}}`.
{{- end }}
{{- if .Leadership.Chairs }}

### Chairs
The Chairs of the SIG run operations and processes governing the SIG.
{{ range .Leadership.Chairs }}
* {{.Name}} (**[@{{.GitHub}}](https://github.com/{{.GitHub}})**){{if .Company}}, {{.Company}}{{end}}
{{- end }}
{{- end }}
{{- if .Leadership.TechnicalLeads }}

### Technical Leads
The Technical Leads of the SIG establish new subprojects, decommission existing
subprojects, and resolve cross-subproject technical issues and decisions.
{{ range .Leadership.TechnicalLeads }}
* {{.Name}} (**[@{{.GitHub}}](https://github.com/{{.GitHub}})**){{if .Company}}, {{.Company}}{{end}}
{{- end }}
{{- end }}
{{- if .Leadership.EmeritusLeads }}

## Emeritus Leads
{{ range .Leadership.EmeritusLeads }}
* {{.Name}} (**[@{{.GitHub}}](https://github.com/{{.GitHub}})**)
{{- end }}
{{- end }}
{{- end }}

## Contact
- Slack: [#{{.Contact.Slack}}](https://kubernetes.slack.com/messages/{{.Contact.Slack}})
- [Mailing list]({{.Contact.MailingList}})
{{- if .Label }}
- [Open Community Issues/PRs](https://github.com/kubernetes/community/labels/sig%2F{{.Label}})
{{- end }}
{{- if .Contact.GithubTeams }}
- GitHub Teams:
{{- range .Contact.GithubTeams }}
    - [@kubernetes/{{.Name}}](https://github.com/orgs/kubernetes/teams/{{.Name}}) {{- if .Description }} - {{.Description}} {{- end}}
{{- end }}
{{- end }}
{{- if .Contact.Liaison.Name }}
- Steering Committee Liaison: {{.Contact.Liaison.Name}} (**[@{{.Contact.Liaison.GitHub}}](https://github.com/{{.Contact.Liaison.GitHub}})**)
{{- end }}

{{- if .ReportingWGs }}

## Working Groups

The following [working groups][working-group-definition] are sponsored by sig-{{.Label}}:

{{- range .ReportingWGs }}
* [WG {{.}}](/{{.DirName}})
{{- end }}
{{ end }}

{{- if .Subprojects }}

## Subprojects

The following [subprojects][subproject-definition] are owned by sig-{{.Label}}:

{{- range .Subprojects }}
### {{.Name}}
{{- if .Description }}
{{ trimSpace .Description }}
{{- end }}
{{- if .Leads }}
- **Leads:**{{ range .Leads }}
  - {{.Name}} (**[@{{.GitHub}}](https://github.com/{{.GitHub}})**){{if .Company}}, {{.Company}}{{end}}
{{- end }}

{{- end }}
- **Owners:**
{{- range .Owners }}
  - [{{trimSuffix (orgRepoPath .) "/OWNERS"}}]({{githubURL .}})
{{- end }}
{{- if .Contact }}
- **Contact:**
{{- if .Contact.Slack }}
  - Slack: [#{{.Contact.Slack}}](https://kubernetes.slack.com/messages/{{.Contact.Slack}})
{{- end }}
{{- if .Contact.MailingList }}
  - [Mailing List]({{.Contact.MailingList}})
{{- end }}
{{- if .Contact.GithubTeams }}
  - GitHub Teams:
{{- range .Contact.GithubTeams }}
    - [@kubernetes/{{.Name}}](https://github.com/orgs/kubernetes/teams/{{.Name}}) {{- if .Description }} - {{.Description}}{{- end}}
{{- end }}
{{- end }}
{{- end }}
{{- if .Meetings }}
- **Meetings:**
{{- range .Meetings }}
  - {{.Description}}{{if .CalendarURL}} ([calendar]({{.CalendarURL}})){{end}}: [{{.Day}}s at {{.Time}} {{.TZ}}]({{.URL}}) ({{.Frequency}}). [Convert to your timezone](http://www.thetimezoneconverter.com/?t={{.Time | urlquery}}&tz={{.TZ | tzUrlEncode}}).
{{- if .ArchiveURL }}
    - [Meeting notes and Agenda]({{.ArchiveURL}}).
{{- end }}
{{- if .RecordingsURL }}
    - [Meeting recordings]({{.RecordingsURL}}).
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

[subproject-definition]: https://github.com/kubernetes/community/blob/master/governance.md#subprojects
[working-group-definition]: https://github.com/kubernetes/community/blob/master/governance.md#working-groups
