# {{lastYear}} Annual Report: {{.Prefix | toUpper}} {{.Name}}

## Current initiatives

1. What work did the WG do this year that should be highlighted?
   For example, artifacts, reports, white papers produced this year.

   -
   -
   -

2. What initiatives are you working on that aren't being tracked in KEPs?

   -
   -
   -

## Project health

1. What's the current roadmap until completion of the working group?

   -
   -
   -

2. Does the group have contributors from multiple companies/affiliations?

   -

3. Are there ways end users/companies can contribute that they currently are not?
   If one of those ways is more full time support, what would they work on and why?

   -
   -

## Membership

- Primary slack channel member count:
- Primary mailing list member count:
- Primary meeting attendee count (estimated, if needed):
- Primary meeting participant count (estimated, if needed):

Include any other ways you measure group membership

## Operational

Operational tasks in [wg-governance.md]:

- [ ] [README.md] reviewed for accuracy and updated if needed
- [ ] WG leaders in [sigs.yaml] are accurate and active, and updated if needed
- [ ] Meeting notes and recordings for {{lastYear}} are linked from [README.md] and updated/uploaded if needed
- [ ] Updates provided to sponsoring SIGs in {{lastYear}}
      - [$sig-name](https://git.k8s.io/community/$sig-id/)
        - links to email, meeting notes, slides, or recordings, etc
      - [$sig-name](https://git.k8s.io/community/$sig-id/)
        - links to email, meeting notes, slides, or recordings, etc
      -

[wg-governance.md]: https://git.k8s.io/community/committee-steering/governance/wg-governance.md
[README.md]: https://git.k8s.io/community/{{.Dir}}/README.md
[sigs.yaml]: https://git.k8s.io/community/sigs.yaml
